@import "components/FooterComponent/footer.css";
@import "components/HeaderComponent/header.css";
@import "components/HomeComponent/homePage.css";
@import "components/PropertyComponent/propertyComponent.css";
@import "components/ListPropertiesComponent/list-properties.css";
@import "components/LoadingComponent/loadingSpinner.css";
body{
    margin-top: 70px;
    background-image: url("/background.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-green{
    background: #0eaaa6;
}
.bg-darkBrown{
    background: #004D40;
}
