.home-title{
    font-size: 3.5vw;
}
.home-subtitle{
    font-size: 2.5vw;
}

.bg-transparent{
    background-color: rgba(0,0,0,.5);

}

.text{
    font-size: 2vw;
}

@media only screen and (max-width: 768px) {
    .home-title{
        font-size: 4vw;
    }
    .home-subtitle{
        font-size: 3vw;
    }
}